<p id="notice"><%= notice %></p>
<h1>Pending requests</h1>
<div class="container-fluid">
<div class="row">
<div id="input_form" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <% @incidents.each do |incident| %>
    Solution for incident <b><%= incident.name %></b> is waiting to be approved.<br>
    <em> Solution: <%=incident.solution%></em>
    <div class="row" style="margin-bottom: 20px;">
      <div class="small-form col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <%= form_tag confirm_incident_path(incident) do %>
          <%= submit_tag("Yes") %>
        <% end %>
      </div>
      <div class="small-form col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <%= form_tag decline_incident_path(incident) do %>
          <%= submit_tag("No") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
<div id="input_form" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <% @changes.each do |change| %>
    Solution for change <b><%= change.name %></b> is waiting to be approved.<br>
    <em> Comment: <%=change.comment%></em>
    <div class="row" style="margin-bottom: 20px;">
      <div class="small-form col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <%= form_tag confirm_change_path(change) do %>
          <%= submit_tag("Yes") %>
        <% end %>
      </div>
      <div class="small-form col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <%= form_tag decline_change_path(change) do %>
          <%= submit_tag("No") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
