<h1>Listing changes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Priority</th>
      <th>User</th>
      <th>Status</th>
      <th>Confirmed</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.name %></td>
        <td><%= change.description %></td>
        <td><%= change.category %></td>
        <td><%= change.priority %></td>
        <td><%= change.user %></td>
        <td><%= change.status %></td>
        <td><%= change.confirmed %></td>
        <td><%= change.comment %></td>
        <td><%= link_to 'Show', change %></td>
        <td><%= link_to 'Edit', edit_change_path(change) %></td>
        <td><%= link_to 'Destroy', change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Change', new_change_path %>
