<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @change.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @change.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @change.category %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @change.priority %>
</p>

<p>
  <strong>User:</strong>
  <%= @change.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @change.status %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @change.confirmed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @change.comment %>
</p>

<%= link_to 'Edit', edit_change_path(@change) %> |
<%= link_to 'Back', changes_path %>
