<%= form_for(@reported_incident) do |f| %>
  <% if @reported_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reported_incident.errors.count, "error") %> prohibited this reported_incident from being saved:</h2>

      <ul>
      <% @reported_incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
