<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reported_incident.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reported_incident.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @reported_incident.category %>
</p>

<%= link_to 'Edit', edit_reported_incident_path(@reported_incident) %> |
<%= link_to 'Back', reported_incidents_path %>
