<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
<% end %>
<h1>Login</h1>
<%= form_tag do %>
	<div id="input_form" class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
		<div class="field">
			<%= label_tag :email, 'Email' %><br>
			<%= text_field_tag :email, params[:email], :autofocus=>true %>
		</div>
		<div class="field">
			<%= label_tag :password, "Password" %><br>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div class="actions">
			<%= submit_tag "LOGIN" %>
		</div>
	</div>
<% end %>
