<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
	<div id="section_title">
		Login
	</div>
	<div id="input_form" >
		<div class="field">
			<%= label_tag :email, 'Email' %>
			<%= text_field_tag :email, params[:email], :autofocus=>true %>
		</div>
		<div class="field">
			<%= label_tag :password, "Password" %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div class="actions">
			<%= submit_tag "LOGIN" %>
		</div>
	</div>
<% end %>
